.label {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	line-height: 140%;
	color: rgba(0, 0, 0, 0.85);
}

.charLabel {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25;
	color: rgba(0, 0, 0, 0.85);
}

:global(.star) {
	font-family: 'Roboto', sans-serif; 
	font-weight: 400;
	font-size: 0.875rem;
	color: red;
	margin-right: 2px;
}
